<div class="container ">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <% unless @contact.avatar.blank?%>
                            <%= image_tag @contact.avatar.url(:medium), class: "img-rounded img-responsive" %>
                        <% else %>
                            <%= image_tag "/images/missing.jpg" , class: "img-rounded img-responsive"%>
                        <% end -%>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4><%= @contact.name %></h4>
                        <cite title="San Francisco, USA"><%= link_to @contact.city , "https://maps.google.com/maps?q=#{@contact.city}" , target: "_blank"%>  <i class="glyphicon glyphicon-map-marker">
                        </i></cite>

                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>email@example.com
                            <br />
                            <i class="glyphicon glyphicon-phone"></i><%= @contact.phone %>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>
                        <!-- Split button -->
                         <%= link_to "Editar", edit_user_contact_path(current_user), class: "btn btn-primary" %>
                         <%= link_to "Voltar", user_contacts_path(current_user) , class: "btn btn-primary"%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

